<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/layout.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='logo.png') }}" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <ul class="navlinks">
                <li><a href="/home">Home</a></li>
                <li><a href="/team">Teams</a></li>
                <li><a href="/poll">Poll</a></li>
                <li><a href="/members">Members</a></li>
            </ul>
        </nav>
        <a href="/logout" class="cta"><button>Log out</button></a>
  </header>
  {% block body %}
  {% endblock %}
</body>
</html>